.sign {
  font-family: 'Montserrat';
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--black);
  padding: 6px 12px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 500;
}
