.dataColumn {
  width: 90px;
  font-family: WorkSans;
  .columnName {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #86939d;
  }

  .columnValue {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
  }
}
