.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 73px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1155px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  textarea {
    font-size: 18px;
    font-weight: 400;
  }
}

.box {
  display: flex;
  flex-direction: column;

  .question {
    color: var(--pale-blue);
    font-family: WorkSans;
    font-size: 32px;
    font-weight: 600;
  }
}

.details {
  padding-top: 0px;
  width: 35%;

  & > div > div {
    margin-top: 0px;
    padding-top: 0px;
  }

  .detail {
    width: 100%;

    .itemHolder:first-child {
      margin-bottom: 9px;
    }

    .itemOpenTo {
      margin-bottom: 19px;
    }

    .itemToken {
      margin-bottom: 35px;
    }

    .itemDefault {
      margin-bottom: 21px;
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .input {
        display: flex;
        font-size: 18px;
        border: 1px solid var(--light-gray-blue);
        border-radius: 0;
        height: 46px;
        width: calc(100% - 2px);
        padding: 0;
        text-align: center;
        background-color: var(--black);
        color: var(--light-gray-blue);
      }

      .holders {
        display: flex;
        align-items: center;
        padding-left: 17px;
        line-height: 22px;

        input[type='checkbox'] {
          width: 17px;
          height: 17px;
          cursor: pointer;
          margin: 0px;
        }

        input[type='checkbox']:after {
          content: '';
          background-color: var(--black);
          border: 1px solid var(--light-gray-blue);
          display: inline-block;
          width: 17px;
          height: 17px;
        }

        input[type='checkbox']:checked:after {
          width: 17px;
          height: 17px;
          border: 1px solid var(--dodger-blue);
          background-color: var(--dodger-blue);
        }

        .label {
          color: #fff;
          padding-left: 12px;
        }
      }

      .tokens {
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .tokensLabel {
          font-family: WorkSans;
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          padding-left: 47px;
          color: var(--light-gray-blue);
        }

        .input {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 18px;
          height: 44px;
          width: 74px;
          border: solid 1px var(--light-gray-blue);
          background-color: transparent;
          text-align: center;
          -webkit-appearance: none;

          &:disabled {
            color: #fff;
            background-color: var(--dark-gray-blue);
            opacity: 0.3;
          }
        }

        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type='number'] {
          -moz-appearance: textfield;
        }
      }

      .label {
        font-family: WorkSans;
        font-size: 18px;
        line-height: 1.22;
        color: var(--dodger-blue);
        padding-left: 17px;
        width: 40%;
      }

      .info {
        font-family: WorkSans;
        font-size: 18px;
        line-height: 1.22;
        width: 60%;
      }
    }

    .itemDefault:first-child {
      margin-top: 27px;
    }
  }

  @media (max-width: 1155px) {
    width: 100%;
  }
}

.button {
  width: 100%;
  border: none !important;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue) !important;
  font-size: 18px !important;
  letter-spacing: 3px;
  font-weight: 400;
  color: #fff;
  font-family: WorkSans;
  text-transform: uppercase;
  height: 54px !important;
  padding: 0 17px;
}
.dropdown {
  .arrowClosed,
  .arrowOpen {
    border: solid var(--light-gray-blue);
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    position: absolute;
    right: 15px;
  }

  .arrowClosed {
    top: 12px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrowOpen {
    top: 16px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .control {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border: solid 1px var(--light-gray-blue);
    background-color: transparent;
    font-family: WorkSans;
    color: var(--light-gray-blue);
    font-size: 18px;
    height: 46px;
    border-radius: 0;

    .placeholder {
      align-items: center;
    }
  }

  .menu {
    border: solid 1px var(--light-gray-blue);
    background: var(--black);
    margin-top: 6px;
    transition: all 0.5s;

    div[class*='is-selected'] {
      border-radius: 0;
      background-color: var(--light-gray-blue);
    }

    .option {
      display: flex;
      align-items: center;
      height: 48px;
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      transition: all 0.3s;

      &:hover {
        background-color: var(--light-gray-blue);
        border-radius: 0;
      }
    }
  }
}
.newTagButton {
  background: none;
  border: none;
  color: var(--dodger-blue);
  padding-left: 0;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
