.multiSelect {
  margin-top: 1.5rem;

  &Label {
    color: var(--pale-blue);
    font-family: WorkSans;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }

  &Error {
    color: red;
    font-size: 20px;
    padding-top: 4px;
  }
}
