.counter {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 37px;
  font-family: WorkSans;
  font-size: 15px !important;
  color: var(--black);
  border-radius: 0px !important;
  background-color: #d8d8d8 !important;
}
