.error {
  color: red;
  font-size: 20px;
  margin-left: 12px;
  padding-top: 4px;
}
.label {
  color: var(--pale-blue);
  font-family: WorkSans;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  @media (min-width: 768px) {
    font-size: 36px;
  }
}
