@import './vars';

.container {
  margin-top: 52px;
  width: 100%;
  position: relative;

  @media (min-width: 980px) {
    width: 45%;
  }

  .filterBtn {
    display: flex;
    background: none;
    width: 19px;
    border: none;
    margin-left: 27px;
    cursor: pointer;
  }

  .headerContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 17px;
    border-bottom: 1px solid #3e5262;

    padding-left: 12px;
    padding-right: 12px;

    .header {
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 20px;
      line-height: 24.38px;
      color: var(--dodger-blue);
      letter-spacing: 2px;
    }

    .actionBtn {
      display: flex;
      align-items: center;
    }
  }

  .itemsContainer {
    .logoLoader {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
