.dialog {
  div {
    border-radius: 13px !important;
    img {
      right: 40px !important;
      top: 45px !important;
    }
  }
}

.container {
  position: relative;
  font-family: WorkSans;

  .heading {
    max-height: 20%;
    display: flex;
    flex-direction: row;
    margin-bottom: 43px;

    .image {
      margin-right: 46px;
    }

    .info {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.014em;
    }
  }

  .title {
    font-weight: 700;
    font-size: 27px;
    line-height: 28px;
    letter-spacing: -0.014em;
    text-transform: uppercase;
    color: #0e273b;
    margin-top: unset;
  }

  .devfolioLink {
    margin-bottom: 12px;

    &Header {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.014em;
    }
  }

  .prizeTrack {
    &List {
      margin-top: 5px;
    }

    &Header {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.014em;
    }
  }
  .linkHeader {
    margin-left: 70%;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
  }

  .contentContainer {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    height: calc(48vh - 62px);

    article {
      width: 60%;
      overflow-y: scroll;
    }

    .links {
      overflow-y: scroll;
      width: 30%;
      overflow-wrap: break-word;
    }

    article,
    .links {
      a {
        color: #57aeff;
      }
      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--light-gray-blue);
        border: 3px solid transparent;
        border-radius: 30px;
      }
    }

    .overflowGradient::after {
      display: block;
      content: '';
      position: sticky;
      bottom: 0;
      height: 100px;
      width: 100%;
      background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      transform: rotate(-180deg);
    }
  }
}
