.container {
  position: relative;

  .spaceNav {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;

    .activesCount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background-color: var(--bright-turquoise);
      border-radius: 15px;
      font-size: 15px;
      color: var(--black);
      position: absolute;
      top: 20%;
      right: 150%;
      font-weight: bold;
    }
  }

  .button {
    display: grid;
    grid-template-rows: 1fr 40px;
    padding-bottom: 15px;
    width: 229px;
    height: 225px;
    border: solid 1px var(--pale-blue);
    background-color: var(--black);
    cursor: pointer;

    &:hover {
      box-shadow: 4px 4px var(--dodger-blue);
      border-color: var(--dodger-blue);
    }

    .icon {
      height: 100px;
      width: 100px;
      object-fit: contain;
      align-self: center;
      justify-self: center;
    }

    .name {
      font-family: WorkSans;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.7px;
      color: var(--pale-blue);
      margin-bottom: 30px;
    }
  }
}
