.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 30px;

  @media (min-width: 980px) {
    padding: 0 62px;
  }

  @media (min-width: 1200px) {
    padding: 0 162px;
  }

  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 47px;
    margin-bottom: 65px;
  }

  .spaces {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-items: center;
    grid-gap: 30px;
    justify-content: space-around;
    margin: 0 auto;

    @media (min-width: 768px) {
      > div:nth-child(2n - 1) {
        margin-left: auto;
      }
      > div:nth-child(2n) {
        margin-right: auto;
      }
    }

    @media (min-width: 894px) {
      grid-template-columns: repeat(auto-fill, 229px);
      grid-gap: 65px;
      justify-content: space-between;
    }

    .addSpaceContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 229px;
      height: 225px;
      border: solid 1px var(--light-gray-blue);
      background-color: var(--black);

      &:hover {
        box-shadow: 4px 4px var(--dodger-blue);
        border-color: var(--dodger-blue);
      }

      .addButton {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        .oval {
          width: 81px;
          height: 81px;
          border-radius: 100px;
          border: solid 1px #979797;

          .cross {
            background: #979797;
            position: relative;
            left: 40px;
            top: 22px;
            width: 1px;
            height: 37px;
          }

          .cross:after {
            background: #979797;
            content: '';
            left: -19px;
            position: absolute;
            top: 19px;
            width: 38px;
            height: 1px;
          }
        }
      }

      .addName {
        font-family: WorkSans;
        font-size: 22px;
        letter-spacing: 0.7px;
        color: var(--light-gray-blue);
      }
    }
  }
}
