.header {
  font-family: WorkSans;
  font-size: 32px;
  font-weight: 600;
  color: var(--pale-blue);

  .information {
    margin-top: 20px;
    font-family: WorkSans;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: var(--pale-blue);

    @media (max-width: 768px) {
      margin-top: 8px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    margin-top: 44px;
    width: 70%;

    @media (max-width: 768px) {
      width: 100%;
      margin-top: 8px !important;
      height: 520px !important;
    }

    .ballot {
      background-color: var(--white);
      font-size: 20px;
      color: #0e273b;
      width: auto;
      resize: vertical;
      overflow-y: auto;
      min-height: 300px;
      margin-top: 10px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        //width: 12px;
        display: none;
      }

      .item {
        display: flex;
        position: relative;
        border-bottom: 1px solid #dbdfe2;
        flex-direction: column;
        justify-content: center;

        .info {
          display: flex;
          align-items: center;
          z-index: 2;
          position: relative;
          width: 100%;
          justify-content: space-between;
          min-height: 86px;

          .data {
            margin-left: 34px;
            display: flex;
            font-family: WorkSans;
            font-size: 22px;
            align-items: center;

            @media (max-width: 768px) {
              margin-left: 11px;
            }

            .text {
              font-weight: 600;
              color: var(--black);
              margin-right: 20px;
              padding-left: 19px;
            }

            .tag {
              font-weight: 300;
              font-stretch: normal;
              font-style: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #86939d;
              text-transform: uppercase;
            }
          }

          .box {
            margin-right: 17px;

            // @media (max-width: 768px) {
            //   margin-right: 0;
            // }

            fieldset {
              padding: 0 1rem;
              width: 156px;
              height: 42px;

              @media (max-width: 768px) {
                width: 52px;
              }

              &.disabled {
                border: solid 1.5px var(--gray);
              }

              &.editable {
                border: solid 1.5px var(--dodger-blue);
              }

              legend {
                font-family: WorkSans;
                font-size: 13px;
                font-weight: 400;
                color: var(--dodger-blue);

                &.disabled {
                  color: var(--gray);
                }
              }

              input {
                font-family: WorkSans;
                font-size: 22px;
                color: var(--black);
                font-weight: 500;
                width: 100%;
                border: 0;
                text-align: right;
                -moz-appearance: textfield;
                background-color: transparent;

                &.disabled {
                  color: var(--gray);
                }

                &::placeholder {
                  color: var(--black);
                  opacity: 1;
                }

                &:-ms-input-placeholder {
                  color: var(--black);
                }

                &::-ms-input-placeholder {
                  color: var(--black);
                }
              }
            }
          }
        }

        .volume {
          bottom: 0;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;

          .progress {
            z-index: 1;
            height: 100%;
            background-color: var(--white);
          }
        }

        &:nth-child(odd) {
          .volume span span {
            background-color: rgba(69, 184, 255, 0.26);
          }
        }

        &:nth-child(even) {
          .volume span span {
            background-color: rgba(69, 184, 255, 0.1);
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      .extract {
        .gray {
          background-color: var(--light-gray);
          padding: 15px;
          height: auto;

          .opinion {
            border: none;
            width: 100%;
            resize: none;
            max-lines: 4;
            height: 145px;
            font-family: WorkSans;
            font-size: 15px;
            color: var(--black);
            box-sizing: border-box;
            padding-left: 19px;
            padding-top: 13px;
            padding-right: 19px;
          }

          .text {
            font-family: WorkSans;
            font-size: 15px;
            color: var(--black);
            margin-left: 34px;
          }
        }
      }

      .emptyList {
        margin: 24px;
        font-weight: 500;
      }
    }
  }
}

.footer {
  margin-top: 50px;
  width: 100%;

  @media (max-width: 768px) {
    margin-top: 30px;
    width: 100%;
  }

  .votebutton {
    border-radius: 0;
    width: 100%;
    height: 88px;
    color: var(--black);
    background-color: var(--bright-turquoise);
    border: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    font-family: WorkSans;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      color: var(--white) !important;
      background-color: var(--gray);
    }
  }
}

.confirmation {
  max-width: 70%;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  margin: 0 auto;
  .topbox {
    padding: 36px 69px 35px 61px;
    border: solid 1px var(--violet);
    background-color: var(--black);
    margin-top: 70px;

    p {
      font-family: WorkSans;
      font-size: 40px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: var(--pale-blue);
    }
  }

  .text {
    font-family: WorkSans;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--pale-blue);
    margin-top: 70px;
    margin-bottom: 68px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .button {
    padding: 29px 20px;
    width: 45%;
    height: auto;

    @media (max-width: 768px) {
      width: 49%;
    }

    font-family: WorkSans;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    border: none;

    &.justify {
      background-color: var(--green-apple);
    }

    &:hover {
      cursor: pointer;
    }

    &.submit {
      background-color: var(--bright-turquoise);
    }
  }
}
