.container {
  margin-top: 40px;
  width: 40%;

  .grid {
    width: 100%;

    .header {
      height: 35px;
      background-color: var(--dark-gray-blue);
      letter-spacing: 1.85px;

      .col {
        font-family: WorkSans;
        text-align: left;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.85px;
        color: var(--light-gray-blue);

        span {
          margin-left: 16px;
        }
      }
    }

    .item {
      height: 65px;
      border-bottom: solid 1px #3e5262;

      .col {
        .profile {
          align-items: center;
          font-family: WorkSans;
          color: var(--pale-blue);

          display: grid;
          grid-template-columns: max-content 1fr;
          column-gap: 18px;
          &:first-child {
            margin-left: 16px;
          }

          .dropdown {
            margin-right: 10px;
            .arrowClosed,
            .arrowOpen {
              border: solid var(--light-gray-blue);
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 4px;
              position: absolute;
              right: 15px;
            }

            .arrowClosed {
              top: 12px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
            }

            .arrowOpen {
              top: 16px;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);
            }
            .control {
              display: flex;
              align-items: center;
              position: relative;
              justify-content: space-between;
              border: transparent;
              background-color: transparent;
              font-family: WorkSans;
              color: var(--light-gray-blue);
              font-size: 18px;
              height: 46px;
              width: 130px;
              border-radius: 0;

              .placeholder {
                align-items: center;
              }
            }

            .menu {
              border: solid 1px var(--light-gray-blue);
              background: var(--black);
              margin-top: 6px;
              transition: all 0.5s;

              div[class*='is-selected'] {
                border-radius: 0;
                background-color: var(--light-gray-blue);
              }

              .option {
                display: flex;
                align-items: center;
                height: 48px;
                font-size: 18px;
                font-weight: 400;
                color: var(--white);
                transition: all 0.3s;

                &:hover {
                  background-color: var(--light-gray-blue);
                  border-radius: 0;
                }
              }
            }
          }
        }
      }
    }

    .profileIcon {
      width: 18px;
      height: 18px;
      margin-right: 18px;
      margin-left: 16px;
    }

    .profileBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline;
      margin: 0;
      padding: 0;
      text-align: left;

      span {
        font-family: WorkSans;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: normal;
        font-size: 18px;
        color: var(--pale-blue);
        text-decoration: underline;
      }
    }

    .footer {
      height: 65px;

      .seeMoreBtn {
        width: 100%;
        height: 35px;
        border: none;
        cursor: pointer;
        text-decoration: none;
        display: inline;
        margin: 0;
        padding: 0;
        background-color: var(--dark-gray-blue);
        font-size: 15px;
        letter-spacing: 1.85px;
        color: var(--light-gray-blue);
        font-family: WorkSans;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }
  }
}
