.container {
  .actionsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }

  .backButton {
    color: var(--light-gray-blue);
    margin: 0 0 16px;
    padding: 0;
    cursor: pointer;
    border: none;
    font-size: 18px;
    background-color: transparent;

    .backIcon {
      font-size: 18px;
    }
  }

  .row:first-child {
    margin-top: 40px;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  .navbar {
    width: 100%;
    border-bottom: 1px solid #3e5262;
  }

  .details {
    width: 35%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.linkbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;

  border: solid 1px var(--light-gray-blue);
  background-color: transparent;
  font-family: WorkSans;
  color: var(--light-gray-blue);
  font-size: 18px;
  width: 180px;
  height: 38px;
  white-space: nowrap;
  transition: color 150ms ease-out, border 150ms ease-out;

  &:hover {
    border: solid 1px var(--white);
    color: var(--white);
    cursor: pointer;
  }

  &:disabled {
    color: #fff;
    background-color: var(--dark-gray-blue);
    opacity: 0.3;

    &:hover {
      border: solid 1px var(--light-gray-blue);
    }
  }
}

.triggerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    padding: 4px 0 0px 12px;
    margin-bottom: 1rem;
    width: 180px;
    height: 2.5rem;
    font-size: 18px;
  }
}

.triggerTitle {
  font-family: WorkSans;
  color: var(--pale-blue);
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 16px;
  padding: 0 30px;
  text-align: center;
  @media (min-width: 768px) {
    padding: 0;
    text-align: end;
    line-height: 1.22;
    font-size: 18px;
  }
}
