.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .mintIdentityInfo {
    padding-left: 19px;
    margin-top: 40px;
    margin-bottom: 55px;
  }
}
.voteData {
  margin-right: 72px;
  width: 30%;
  order: 1;

  @media (max-width: 768px) {
    width: 100%;
  }
}
.ballot {
  width: 70%;
  order: 2;

  @media (max-width: 768px) {
    width: 100%;
  }
}
@media (max-width: 768px) {
  div.mobilepadding {
    padding: 0;
  }

  .title {
    font-size: 22px;
  }
}

.linkbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0;
  padding: 0;

  border: solid 1px var(--light-gray-blue);
  background-color: transparent;
  font-family: WorkSans;
  color: var(--light-gray-blue);
  font-size: 18px;
  width: 180px;
  height: 38px;
  transition: color 150ms ease-out, border 150ms ease-out;
  &:hover {
    border: solid 1px var(--white);
    color: var(--white);
    cursor: pointer;
  }
}
