.splash-screen {
  display: flex;
  position: absolute;
  top: 0;
  background-color: var(--black);
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-logo {
  width: 350px;
}
.loader {
  width: 150px;
}
