.trigger {
  border: solid 1px var(--light-gray-blue);
  background-color: transparent;
  font-family: WorkSans, sans-serif;
  color: var(--light-gray-blue);
  font-size: 18px;
  min-height: 46px;
  height: auto;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .header {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 24px;
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .time {
      display: flex;
      border: solid 1px var(--light-gray-blue);
      color: var(--light-gray-blue);
      font-size: 26px;
      font-family: WorkSans, sans-serif;

      input {
        font-size: 26px;
        text-align: center;
        width: 100%;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 37%;
    margin-top: 24px;

    @media (max-width: 768px) {
      width: 260px;
    }

    .button {
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: inline;
      background-color: var(--dark-gray-blue);
      font-size: 15px;
      letter-spacing: 1.85px;
      color: var(--light-gray-blue);
      font-family: WorkSans, sans-serif;
      text-transform: uppercase;
      height: 50px;
      width: 170px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.calendar {
  [class~='react-datepicker__day--keyboard-selected'] {
    background-color: #f0f0f0;
    color: initial;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
