.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  @media (min-width: 996px) {
    flex-direction: row;
  }

  .left {
    padding-left: 14px;
    display: flex;
    font-family: WorkSans;
    font-size: 18px;
    color: var(--dodger-blue);
    width: 95%;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 996px) {
      width: 35%;
    }

    .editDefault {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type='checkbox'] {
      width: 17px;
      height: 17px;
      cursor: pointer;
      margin: 0px;
    }

    input[type='checkbox']:after {
      content: '';
      background-color: var(--black);
      border: 1px solid var(--light-gray-blue);
      display: inline-block;
      width: 17px;
      height: 17px;
    }

    input[type='checkbox']:checked:after {
      width: 17px;
      height: 17px;
      border: 1px solid var(--dodger-blue);
      background-color: var(--dodger-blue);
    }
  }

  .right {
    width: 100%;
    .list {
      padding: 14px;
      margin-bottom: 8px;
      overflow: hidden;

      .chainRow {
        display: flex;
        align-content: center;
        justify-content: space-between;
        border-bottom: 1px solid #566876;
        padding: 23px 0;

        .item:nth-child(1) {
          width: 10%;
        }

        .item:nth-child(2) {
          width: 60%;
        }

        .item {
          display: inherit;
          flex-direction: column;
          align-items: center;
          font-family: WorkSans;
          color: var(--light-gray-blue);
          font-size: 18px;

          input {
            font-family: inherit;
            display: flex;
            padding-top: 0;
            text-align: center;
            width: 100%;
            height: 50px;
            background-color: var(--dark-gray-blue);
            color: inherit;
            font-size: inherit;

            &:disabled {
              color: #fff;
              opacity: 0.3;
            }
          }

          .disabledIcon {
            color: #fff;
            opacity: 0.3;
            cursor: not-allowed;
          }

          .icon {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  margin-top: 24px;

  &:disabled {
    color: #fff;
    background-color: var(--dark-gray-blue);
    opacity: 0.3;
  }
}
