.container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  
  .label {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }

  .button {
    width: 200px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: var(--dark-gray-blue);
    font-size: 15px;
    letter-spacing: 1.85px;
    color: var(--light-gray-blue);
    font-family: WorkSans;
    text-transform: uppercase;
    height: 50px;
    padding: 0 17px;
    margin-top: 15px;
  }
}