.sortTable {
  &Container {
    display: flex;
    flex-direction: column;
    color: var(--dark-gray-blue);
  }
  &Active {
    color: #86939d;
  }
}

.headerCol {
  text-transform: uppercase;
  text-align: center;
  width: 150px;

  .headerSort {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.headerCol:nth-child(2) {
  padding-left: 20px;
  width: 300px;
  word-wrap: break-word;
}

.headerCol:nth-child(n + 3):not(:last-child) {
  @media (max-width: 768px) {
    display: none;
  }
}

.headerCol:first-child,
.headerCol:last-child {
  text-align: center;
  align-items: center;
  width: 80px;
}
