.image {
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.imgspinner {
  width: 50px;
  object-fit: none;
  height: 50px;
}

.spinnercenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
  height: auto;
}
