.container {
  width: 100%;
  margin-top: 75px;

  .header {
    display: inherit;
    background-color: var(--dark-gray-blue);
    padding: 9px 15px;

    .label {
      font-family: WorkSans;
      font-size: 15px;
      letter-spacing: 1.85px;
      color: var(--light-gray-blue);
      text-transform: uppercase;
    }
  }

  @media (max-width: 768px) {
    margin-top: 25px;

    .header {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .dividerNone {
    border: none !important;
  }

  .item {
    padding: 24px 15px;
    border-bottom: solid 1px #3e5262;

    .identityInfo {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      font-size: 22px;
      letter-spacing: 0.350878px;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 1px;
      margin-top: 15px;
      height: 58px;
      width: 100%;
      padding-left: 15px;
    }

    .label {
      font-family: WorkSans;
      font-size: 15px;
      letter-spacing: 1.85px;
      color: #86939d;
      text-transform: uppercase;
    }

    .chartContainer {
      margin-top: 26px;
      position: relative;
      border-radius: 50%;
      background-color: #263d4f;
    }

    .value {
      font-family: WorkSans;
      font-size: 26px;
      font-weight: 500;
      color: var(--pale-blue);

      .dropdown {
        margin-top: 18px;

        .option {
          display: flex;
          align-items: center;
          height: 48px;
          font-size: 18px;
          font-weight: 400;
          color: var(--white);
          transition: all 0.3s;

          &:hover {
            background-color: var(--light-gray-blue);
            border-radius: 0;
            color: var(--white);
          }
        }

        .control {
          display: flex;
          align-items: center;
          position: relative;
          justify-content: space-between;
          border: solid 1px var(--white);
          background-color: transparent;
          font-family: WorkSans;
          color: var(--white);
          font-size: 25px;
          height: 58px;
          border-radius: 0;

          .placeholder {
          }

          .arrowClosed,
          .arrowOpen {
            border: solid var(--light-gray-blue);
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 4px;
            position: absolute;
            right: 15px;
          }

          .arrowClosed {
            top: 21px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }

          .arrowOpen {
            top: 26px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }

        .menu {
          border: solid 1px var(--light-gray-blue);
          background: var(--black);
          margin-top: 6px;
          transition: all 0.5s;

          div[class*='is-selected'] {
            background-color: var(--light-gray-blue);
            color: var(--white);
          }
        }
      }
    }
  }

  .item:first-child {
    padding-top: 0;
  }

  .item:last-child {
    border-bottom: none;
  }
}
