.state {
  display: flex;
  align-items: center;
}

.icon {
  width: 16px;
  height: 16px;
}

.text {
  margin-left: 14px;
  font-family: WorkSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
}
.open {
  .icon {
    background-color: var(--bright-turquoise);
  }
  .text {
    color: var(--bright-turquoise);
  }
}
.closed {
  .icon {
    background-color: var(--strawberry);
    border-radius: 50%;
  }
  .text {
    color: var(--strawberry);
  }
}
.draft {
  .icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 16px 8px;
    border-color: transparent transparent yellow transparent;
  }
  .text {
    color: yellow;
  }
}
.awaiting {
  .icon {
    border-radius: 50%;
    background-color: var(--gray);
  }
  .text {
    color: var(--gray);
  }
}

.ranking {
  .text {
    color: var(--dodger-blue);
  }
}


.rankingIconContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.arrow {
  width: 5px;
  height: 5px;
  border: 2px solid;
  border-color: var(--dodger-blue) transparent transparent var(--dodger-blue);
}

.arrowUp {
  transform: rotate(45deg);
}

.arrowDown {
  transform: rotate(-135deg);
  margin-top: -5px
}