.title {
  font-family: WorkSans;
  font-size: 15px;
  letter-spacing: 1.85px;
  color: #86939d;
  text-transform: uppercase;
  border-bottom: 1px solid #566876;
  padding: 15px 17px 20px;
  margin-top: 16px;
}
