.searchBox {
  padding: 0 10px;
  border: solid 1px var(--light-gray-blue);
  @media (min-width: 768px) {
    width: 279px;
  }

  .icon {
    cursor: pointer;
  }

  .searchLabel {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .searchInput {
      font-size: 20px;
      margin-left: 5px;
      width: 85%;
      color: var(--pale-blue);
    }
  }
}
