.strategyContainer {
  display: flex;
  flex-direction: column;

  .warning {
    color: red;
    margin-bottom: 30px;
    font-size: 18px;
    width: 60%;

    @media (min-width: 556px) {
      width: 90%;
    }
  }

  .main {
    width: 100%;

    @media (min-width: 996px) {
      width: 40%;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .label {
      font-family: WorkSans;
      font-size: 18px;
      color: var(--dodger-blue);
    }

    .info {
      font-family: WorkSans;
      font-size: 18px;
      text-align: end;
    }
  }

  .params {
    width: 98%;

    .singleParam {
      border: 2px solid var(--dark-gray-blue);
      margin-bottom: 20px;
    }
  }
}
