.container {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
}

.badge {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.badgeLoading {
  opacity: 0.2;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  transform: translate(-50%, -50%);
}

.title {
  display: inline-block;
  color: var(--light-gray-blue);
  font-size: 15px;
}

.titleHighlight {
  color: var(--pale-blue);
}
