.description {
  width: 65%;

  .title {
    font-size: 32px;
    word-break: break-word;
    font-weight: 600;
    margin: 15px 0 13px;
  }

  .markdown {
    margin-top: 32px;
    p a {
      word-break: break-all;
    }
  }

  .button {
    border: solid 1px var(--light-gray-blue);
    background-color: transparent;
    font-family: WorkSans;
    color: var(--light-gray-blue);
    height: 38px;
    margin-bottom: 76px;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    &:hover {
      border: solid 1px var(--white);
      color: var(--white);
      cursor: pointer;
    }
  }

  .connected {
    &:hover {
      border: solid 1px var(--white);
      color: var(--white);
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .description {
    width: 100%;
  }

  .title {
    font-size: 22px;
  }
}
