.container {
  display: flex;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.inner {
  position: relative;
}

.image {
  display: block;
  max-width: 100%;
}

.textCotainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.9;
}

.textLabel {
  font-family: WorkSans;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: var(--pale-blue);
}

.text {
  font-family: WorkSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.6px;
  text-align: center;
  color: var(--pale-blue);
}
