@import 'vars';

.icon {
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-gray-blue);
  cursor: pointer;

  @media (min-width: 450px) {
    justify-content: baseline;
  }
}

.disabledIcon {
  margin: 8px;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.3;
  cursor: not-allowed;
}

.argumentInputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  input {
    width: 100%;
    height: 2.5rem;
    font-family: WorkSans, sans-serif;
    outline: none;
    color: var(--dark-gray-blue);
    padding-top: 4px;
    font-size: 0.8rem;
    line-height: 1.4em;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
}

.multiSelect {
  &Error {
    color: red;
    font-size: 20px;
    font-size: 20px;
    margin-left: 12px;
    padding-top: 4px;
  }
}

.hollowButton {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin-top: 20px;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans, sans-serif;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: #e7e7e7;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.hollowButtonBlack {
  font-weight: 500;

  &:not(:disabled) {
    &:hover,
    &:focus {
      background-color: #4c4c4c;
    }
  }
}
