.button {
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 0px;
  padding: 0 24px;
  outline: none;
  height: 46px;
  font-size: 18px;
  transition: color 150ms ease-out, border 150ms ease-out;

  &.button--submit {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

    &:hover {
      color: white;
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }

    &:disabled {
      color: var(--link-color);
      border: 1px solid var(--border-color);
      background-color: var(--border-color);
    }
  }

  &.button--active {
    border-color: var(--link-color);
  }

  &:hover {
    color: var(--link-color);
    border-color: var(--link-color);
  }

  &:disabled {
    color: var(--black);
    cursor: not-allowed !important;
  }
}
.uploadResultsButton {
  margin-top: 4px;
  color: var(--light-gray-blue);
  border-color: var(--gray);
  cursor: pointer;
  padding: 0 8px;
  font-size: 16px;
}
