.container {
  font-family: WorkSans;
  font-size: 1.2em;
  color: var(--bright-turquoise);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--bright-turquoise);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -40px;
  margin-top: 75px;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}
