.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @media (min-width: 996px) {
    flex-direction: row;
  }

  .left {
    padding-left: 14px;
    display: flex;
    font-family: WorkSans;
    font-size: 18px;
    color: var(--dodger-blue);
    width: 95%;
    justify-content: space-between;
    margin-bottom: 15px;

    @media (min-width: 996px) {
      width: 35%;
      margin-bottom: 0;
    }

    .editDefault {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type='checkbox'] {
      width: 17px;
      height: 17px;
      cursor: pointer;
      margin: 0px;
    }

    input[type='checkbox']:after {
      content: '';
      background-color: var(--black);
      border: 1px solid var(--light-gray-blue);
      display: inline-block;
      width: 17px;
      height: 17px;
    }

    input[type='checkbox']:checked:after {
      width: 17px;
      height: 17px;
      border: 1px solid var(--dodger-blue);
      background-color: var(--dodger-blue);
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    input {
      font-family: inherit;
      display: flex;
      padding-top: 0;
      text-align: center;
      width: 60%;
      height: 50px;
      background-color: var(--dark-gray-blue);
      color: inherit;
      font-size: inherit;

      &:disabled {
        color: #fff;
        background-color: var(--dark-gray-blue);
        opacity: 0.3;
      }
    }

    .error {
      color: red;
      font-size: 20px;
      margin-left: 12px;
      padding-top: 4px;
    }
  }
}
