.description {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  .question {
    color: var(--pale-blue);
    font-family: WorkSans;
    font-size: 36px;
    font-weight: 600;
  }
}
.textarea {
  font-family: WorkSans;
  outline: none;
  font-size: 0.8rem;
  color: var(--dark-gray-blue);
  background-color: white;
  border: none;
  margin-top: 0.4rem;
  padding-top: 12px;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.catch {
  color: red;
  font-size: 18px;
  margin: 1.5rem 0 0 0.5rem;
}

.error {
  color: red;
  font-size: 20px;
  margin-left: 12px;
  padding-top: 4px;
}

.input {
  height: 2.5rem;
  font-family: WorkSans;
  outline: none;
  color: var(--dark-gray-blue);
  padding-top: 4px;
  font-size: 0.8rem;
  line-height: 1.4em;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.button {
  width: 40%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 50px 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  align-self: center;
  @media (min-width: 768px) {
    width: 20%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.title {
  font-size: 32px;
  font-weight: 600;
  margin: 35px 0 13px 0;
}

.radio_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
