.tag {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: WorkSans;
  font-size: 16px;
  color: var(--black);
  width: 60px;
  height: 30px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 500;
}
