.container {
  width: 100%;
  margin-top: 50px;
}

.item {
  display: flex;
  margin-bottom: 50px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.avatar {
  width: 69px;
  height: 69px;
}

.opinion {
  margin-left: 30px;
  word-break: break-word;

  .header {
    font-family: WorkSans;
    font-size: 12px;
    letter-spacing: 1px;
    color: #86939d;
    margin-bottom: 15px;

    .profile {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline;
      margin: 0;
      padding: 0;
      font-family: WorkSans;
      font-size: 12px;
      letter-spacing: 1px;
      color: #86939d;
      text-align: left;

      span {
        color: #86939d;
        text-decoration: underline;
      }
    }
  }

  .value {
    display: flex;
    font-size: 22px;
    justify-content: space-between;

    @media (min-width: 600px) {
      justify-content: normal;
    }

    .tag {
      margin-right: 16px;
      font-weight: 600;
      color: var(--pale-blue);
      margin-bottom: 9px;
    }

    .coin {
      font-weight: 300;
      color: var(--dodger-blue);
    }
  }

  .text {
    font-family: WorkSans;
    font-size: 15px;
    font-weight: 300;
    color: var(--pale-blue);
  }
}

.more {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 24px;
}

.empty {
  padding: 24px;
  margin: 0px;
}
