@keyframes slideInFromTop {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.dropdown {
  margin-left: 10px;
  .control {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    border: solid 1px var(--light-gray-blue);
    background-color: transparent;
    font-family: WorkSans;
    color: var(--light-gray-blue);
    font-size: 18px;
    height: 38px;
    border-radius: 0;
    cursor: pointer;

    &:hover {
      color: var(--link-color);
      border-color: var(--link-color);
    }

    .openColor {
      color: var(--bright-turquoise);
    }

    .closedColor {
      color: var(--strawberry);
    }

    .cross {
      display: inline-block;
      align-items: center;
      position: absolute;
      right: 15px;
      margin-top: -12px;

      &::after {
        content: '\2573';
        font-size: 13px;
        color: var(--light-gray-blue);
      }
    }

    .arrowClosed,
    .arrowOpen {
      border: solid var(--light-gray-blue);
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 4px;
      position: absolute;
      right: 15px;
      transition: transform 150ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }

    .arrowClosed {
      top: 12px;
      transform: rotate(-315deg);
      -webkit-transform: rotate(-315deg);
    }

    .arrowOpen {
      top: 16px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }

  .menu {
    border: solid 1px var(--light-gray-blue);
    animation: slideInFromTop 0.2s ease-in-out 0s 1 forwards;
    -webkit-animation: slideInFromTop 0.2s ease-in-out 0s 1 forwards;
    -moz-animation: slideInFromTop 0.2s ease-in-out 0s 1 forwards;
    background: var(--black);
    margin-top: 6px;
    transition: all 0.5s;

    div[class*='is-selected'] {
      border-radius: 0;
      background-color: var(--light-gray-blue);
    }

    .option {
      display: flex;
      align-items: center;
      height: 48px;
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      transition: all 0.3s;

      &:hover {
        background-color: var(--light-gray-blue);
        border-radius: 0;
      }
    }

    .open {
      display: flex;
      justify-content: space-between;
      color: var(--bright-turquoise);

      div:nth-child(2) {
        background-color: var(--bright-turquoise);
        height: 16px;
        width: 16px;
      }
    }

    .closed {
      display: flex;
      justify-content: space-between;
      color: var(--strawberry);

      div:nth-child(2) {
        background-color: var(--strawberry);
        border-radius: 50%;
        height: 16px;
        width: 16px;
      }
    }
  }
}