.modal {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      justify-content: space-between;
      margin-bottom: 20px;
    }

    input {
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: var(--dark-gray-blue);
      color: inherit;
      font-size: inherit;
      border: none;
      padding: 0;
    }
  }
  .save {
    min-width: 40%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: var(--dark-gray-blue);
    font-size: 15px;
    letter-spacing: 1.85px;
    color: var(--light-gray-blue);
    font-family: WorkSans;
    text-transform: uppercase;
    height: 50px;
    padding: 0 17px;

    &:hover {
      color: var(--link-color);
      border-color: var(--link-color);
    }
  }
}
.select {
  margin: 20px 0;
  width: 100%;
}
.textarea {
  margin-bottom: 20px;
  width: 100%;
}
.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networkBtn {
  min-width: 20%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  &:hover {
    color: var(--link-color);
    border-color: var(--link-color);
  }
}
.networkBtnActive {
  min-width: 20%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--light-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--dark-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
}

.networks {
  margin-top: 30px;
  min-width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
