.container {
  width: 100%;
  position: relative;
  z-index: 1;
  background: inherit;
}

.item {
  display: flex;
  margin-bottom: 50px;
  width: 100%;
  padding: 10px;
  .image {
    width: auto;
    height: auto;
  }
}

.avatar {
  width: 69px;
  height: 69px;
}

.opinion {
  margin-left: 30px;
  word-break: break-word;

  .header {
    font-family: WorkSans;
    font-size: 12px;
    letter-spacing: 1px;
    color: #86939d;
    margin-bottom: 15px;
    display: flex;
    align-items: center;

    .twitterButton {
      margin-left: 5px;
      border: none;
      font-size: 14px;
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      .twitterIcon {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
      }
    }

    .profile {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      font-family: WorkSans;
      font-size: 12px;
      letter-spacing: 1px;
      color: #86939d;

      span {
        color: #86939d;
        text-decoration: underline;
      }
    }
  }

  .value {
    display: flex;
    font-size: 22px;

    .tag {
      margin-right: 16px;
      font-weight: 600;
      color: var(--pale-blue);
      margin-bottom: 9px;
    }

    .coin {
      font-weight: 300;
      color: var(--dodger-blue);
    }
  }
  .body {
    .text {
      font-family: WorkSans;
      font-size: 15px;
      font-weight: 300;
      line-height: 18px;
      color: var(--pale-blue);
      display: flex;
      flex-direction: column;
    }
    .readMore {
      cursor: pointer;
      background-color: transparent;
      border: none;
      width: 70px;
      text-decoration: underline;
      color: var(--dodger-blue);
      text-align: left;
      margin-top: 20px;
      padding: 0;

      &:hover {
        color: #74c6f9;
      }
    }
  }
}

.more {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  margin-bottom: 24px;
}

.empty {
  padding: 24px;
  margin: 0px;
}

.voteButtonsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  justify-content: space-around;
  align-items: center;
  span {
    &.neutral {
      color: var(--pale-blue);
    }
    &.green {
      color: var(--green-apple);
    }
    &.red {
      color: var(--strawberry);
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 12px;
    color: var(--pale-blue);
    border: 0;
    cursor: pointer;
    width: 25px;
    &:disabled {
      cursor: not-allowed;
      color: var(--gray);
      background-color: transparent;
    }
  }
  .arrowUp {
    transform: rotate(-90deg);
  }
  .arrowDown {
    transform: rotate(90deg);
  }
}
