@import './vars';

.filterContainer {
  max-width: 308px;

  .filterBox {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -11px;
    z-index: 10;
    padding: 20px 26px 30px 36px;
    background-color: var(--black);
    border: 1px solid #dfe8e8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .filterHeader {
    font-family: WorkSans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #86939d;

    .closeBtn {
      display: flex;
      background: none;
      width: 25px;
      height: 25px;
      border: none;
      cursor: pointer;
    }
  }
}

.innerContainer {
  font-family: WorkSans;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 34px;
  > span {
    margin-bottom: 15px;
    color: #86939d;
  }
  input[type='checkbox'] {
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 0 7px 0 0;
  }

  input[type='checkbox']:after {
    content: '';
    background-color: var(--black);
    border: 1px solid var(--light-gray-blue);
    display: inline-block;
    width: 17px;
    height: 17px;
  }

  input[type='checkbox']:checked:after {
    width: 17px;
    height: 17px;
    border: 1px solid #3e5262;
    background-color: #d9d9d9;
  }
}

.filterBtns {
  font-family: WorkSans;
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  button {
    min-height: 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    min-width: 100px;
    margin-top: 30px;
  }

  .clearBtn {
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: transparent;
  }

  .applyBtn {
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: #00b1ff;
    color: #0e273b;
  }
}
