.button {
  display: flex;
  height: 46x;
  margin-left: 15px;
  button {
    font-family: 'WorkSans';
    margin-right: 0;
  }
}

.address {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: 'WorkSans';
  font-size: 14px;
  font-weight: 600;
  color: var(--pale-blue);
  button {
    display: flex;
  }
}

.label {
  display: inline-block;

  @media (max-width: 768px) {
    display: none;
  }
}

.icon {
  display: none;

  @media (max-width: 768px) {
    display: inline-block;
  }
}
