.container {
  color: #3e5262;

  .header {
    display: flex;
    justify-content: center;
    font-size: 1.17em;
  }

  .form {
    display: flex;
    flex-direction: column;
    .inputs {
      display: flex;
      flex-direction: column;

      .selectText {
        font-weight: 600;
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 40px;

        @media (min-width: 600px) {
          font-size: 38px;
        }
      }

      .info {
        margin-top: 40px;

        .dropdown {
          .arrowClosed,
          .arrowOpen {
            border: solid var(--light-gray-blue);
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 4px;
            position: absolute;
            right: 15px;
          }

          .arrowClosed {
            top: 12px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }

          .arrowOpen {
            top: 16px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }

          .control {
            display: flex;
            align-items: center;
            position: relative;
            justify-content: space-between;
            border: 1px solid #3e5262;
            background-color: transparent;
            font-family: WorkSans;
            height: 46px;
            width: 200px;
            border-radius: 0;
            padding: 8px 35px 8px 10px;

            @media (min-width: 300px) {
              width: 270px;
            }

            @media (max-width: 1150px) {
              min-height: 46px;
              height: auto;
              padding: 1px 35px 1px 10px;
            }

            .placeholder {
              align-items: center;
            }
          }

          .menu {
            margin-top: 6px;
            transition: all 0.5s;
            width: 270px;
            height: 150px;

            div[class*='is-selected'] {
              display: flex;
              align-items: center;
              border-radius: 0;
              color: var(--white);
              background-color: var(--dodger-blue);
              min-height: 48px;
              font-size: 18px;
              font-weight: 400;
              transition: all 0.3s;
            }

            div[class*='option']:not([class*='is-selected']) {
              display: flex;
              align-items: center;
              min-height: 48px;
              font-size: 18px;
              font-weight: 400;
              transition: all 0.3s;

              &:hover {
                background-color: var(--dodger-blue);
                border-radius: 0;
              }
            }
          }
        }
      }

      .input {
        height: 2.5rem;
        font-family: WorkSans;
        outline: none;
        font-weight: 600;
        font-size: 25px !important;
        line-height: 38px;
        padding-top: 4px;
        font-size: 0.8rem;
        border: none;
        line-height: 1.4em;
        @media (min-width: 768px) {
          font-size: 38px;
        }
      }

      .textarea {
        font-family: WorkSans;
        outline: none;
        font-size: 20px;
        background-color: white;
        border: none;
        margin-top: 0.4rem;
        padding-top: 12px;
      }

      .inputLink {
        font-family: WorkSans;
        outline: none;
        font-size: 20px;
        padding-top: 4px;
        line-height: 1.4em;
        margin-top: 0.4rem;
        line-height: 38px;
        width: 100%;
      }

      .label {
        margin-left: 0;
        width: 100%;
        margin-top: 16px;
        display: flex;
        align-items: center;
        font-family: WorkSans;
        font-size: 20px;

        @media (min-width: 600px) {
          font-size: 1.5rem;
        }

        .upload {
          display: inline-block;
          padding: 6px 12px;
          cursor: pointer;
          width: fit-content;
          margin-left: 0.5rem;
          border: 1px solid var(--light-gray-blue);
          background-color: transparent;
          font-family: WorkSans;
          color: var(--light-gray-blue);
          font-size: 18px;
        }
      }

      .error {
        color: var(--strawberry);
      }
    }
  }

  .save {
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin-top: 50px;
    text-transform: uppercase;
    padding: 0 17px;
    align-self: flex-end;
    background: var(--bright-turquoise);
    width: 150px;
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--black);

    @media (min-width: 600px) {
      width: 294px;
      height: 88px;
      font-size: 26px;
    }

    &:disabled {
      background: var(--gray);
      cursor: default;
    }
  }
}
