.title {
  font-size: 32px;
  word-break: break-word;
  font-weight: 600;
  margin: 15px 0 13px;
}

.description {
  width: 65%;
}

.markdown {
  margin-top: 32px;
  p a {
    word-break: break-all;
  }

  img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .description {
    width: 100%;
  }

  .title {
    font-size: 22px;
  }
}
