.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

  .right {
    width: 100%;
    .list {
      margin-bottom: 8px;
      overflow: hidden;

      .chainRow {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        border-bottom: 1px solid #566876;
        padding: 23px 0;
        width: auto;

        @media (min-width: 450px) {
          flex-direction: row;
        
          .item:nth-child(1) {
            width: 10%;
            min-width: 75px;
          }

          .item:nth-child(2) {
            width: 60%;
          }
        }

        .item {
          display: inherit;
          flex-direction: column;
          align-items: center;
          font-family: WorkSans;
          color: var(--light-gray-blue);
          margin-right: 5px;
          font-size: 13px;
          margin-bottom: 30px;
          
          @media (min-width: 450px) {
            font-size: 18px;
            margin-bottom: 0;
        }

          input {
            font-family: inherit;
            display: flex;
            padding-top: 0;
            text-align: center;
            width: 100%;
            height: 50px;
            background-color: var(--dark-gray-blue);
            color: inherit;
            font-size: inherit;

            &:disabled {
              color: #fff;
              opacity: 0.3;
            }
          }

          @media (min-width: 450px) {
              font-size: 18px;
          }
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--light-gray-blue);
          cursor: pointer;

          @media (min-width: 450px) {
            justify-content: baseline;
          }
        }
        
        .disabledIcon{
          display: flex;
          align-items: center;
          color: #fff;
          opacity: 0.3;
          cursor: not-allowed;
        }
      }
    }
  }
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  margin-top: 24px;
  
  &:disabled {
    color: #fff;
    background-color: var(--dark-gray-blue);
    opacity: 0.3;
  }
}
