@import '../../../vars.scss';

.markdown {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.2px;
  margin-bottom: 55px;
  word-wrap: break-word;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

  h1,
  h2 {
    font-size: $h2-size;
    border-bottom: 0;
  }

  img {
    border-radius: 8px;
  }
}
