.tagContainer {
  font-size: 16px;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  row-gap: 23px;
  font-family: 'Montserrat';
  input {
    position: relative;
    top: -2px;
  }
  label {
    font-family: 'Montserrat';
    min-width: 88px;
    display: flex;
    align-items: center;
  }
}
