.container {
  position: relative;

  .scrollArrow {
    position: absolute;
    right: 0;
    display: block;
    font-size: 18px;
    transform: rotate(180deg);
  }

  .tabBar {
    font-family: WorkSans;
    font-size: 18px;
    color: var(--light-gray-blue);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .loading {
      display: flex;
      align-items: center;
      padding: 19px;
    }

    .item {
      display: inherit;

      .text {
        padding: 19px;
        cursor: pointer;

        &:hover {
          border-bottom: 1px solid var(--bright-turquoise);
        }

        &.selected {
          border-bottom: 1px solid var(--bright-turquoise);
          color: var(--bright-turquoise);
          font-weight: normal;
        }
      }

      .counter {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
