.newProposalTag {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .inputs {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      justify-content: space-between;
      margin-bottom: 20px;
    }

    input {
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: var(--dark-gray-blue);
      color: inherit;
      font-size: inherit;
      border: none;
      padding: 0;
    }
  }
  .save {
    width: 100%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    background-color: var(--dark-gray-blue);
    font-size: 15px;
    letter-spacing: 1.85px;
    color: var(--light-gray-blue);
    font-family: WorkSans;
    text-transform: uppercase;
    height: 50px;
    padding: 0 17px;

    &:hover {
      color: var(--link-color);
      border-color: var(--link-color);
    }
  }
}
