.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .checkbox {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1.85px;
    color: var(--light-gray-blue);
    font-family: WorkSans;
    text-transform: uppercase;
    display: flex;
  }
}

.input {
  width: 100%;
  height: 2.5rem;
  font-family: WorkSans;
  outline: none;
  color: var(--dark-gray-blue);
  padding-top: 4px;
  font-size: 0.8rem;
  line-height: 1.4em;
  @media (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 0.8rem;
  }
  &::placeholder {
    color: var(--dark-gray-blue);
  }
}

.textarea {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  textarea {
    margin-top: 35px;
    &::placeholder {
      color: var(--dark-gray-blue);
    }
  }
}

.warning {
  color: red;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 16px;
  width: auto;
  padding: 0 16px;
  @media (min-width: 768px) {
    width: 70%;
  }
  .rowTitle {
    display: flex;
    align-items: center;
  }
  h3 {
    border: 1px solid #ccc;
    display: block;
    padding: 12px;
    margin: 0;
    word-break: break-word;
  }
  h3:nth-child(odd) {
    background-color: var(--dark-gray-blue);
  }
  .input {
    margin-bottom: 0;
    border-color: #ccc;
    width: auto;
    height: auto;
  }
}

.inputLabel {
  margin-bottom: 10px;
}

.error {
  color: red;
  padding-left: 8px;
  width: 70%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin: 35px 15px 13px;
}

.button {
  width: 100%;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin: 15px 0;
  padding: 0;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  align-self: center;
  @media (min-width: 768px) {
    width: 40%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  @media (min-width: 768px) {
    width: 70%;
  }
}
