.modalTitle {
  font-size: 32px;
  word-break: break-word;
  font-weight: 600;
  margin: 0 0 15px;
}

.button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline;
  margin-top: 50px;
  background-color: var(--dark-gray-blue);
  font-size: 15px;
  letter-spacing: 1.85px;
  color: var(--light-gray-blue);
  font-family: WorkSans, sans-serif;
  text-transform: uppercase;
  height: 50px;
  padding: 0 17px;
  align-self: center;
}
.error {
  color: var(--strawberry);
  text-align: right;
}
.contractLabel {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--pale-blue);
  font-family: WorkSans, sans-serif;
  font-size: 1.5rem;
  .input {
    margin-left: 0;
    width: 100%;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;

  .input {
    height: 2.5rem;
    font-family: WorkSans, sans-serif;
    outline: none;
    color: var(--dark-gray-blue);
    padding-top: 4px;
    font-size: 0.8rem;
    line-height: 1.4em;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .textarea {
    font-family: WorkSans, sans-serif;
    outline: none;
    font-size: 0.8rem;
    color: var(--dark-gray-blue);
    background-color: white;
    border: none;
    margin-top: 0.4rem;
    padding-top: 12px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  .label {
    margin-left: 0;
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--pale-blue);
    font-family: WorkSans, sans-serif;
    font-size: 1.5rem;

    .upload {
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
      width: fit-content;
      margin-top: 0.5rem;
      border: 1px solid var(--light-gray-blue);
      background-color: transparent;
      font-family: WorkSans, sans-serif;
      color: var(--light-gray-blue);
      font-size: 18px;
    }
  }

  .largeLabel {
    color: var(--pale-blue);
    font-family: WorkSans, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    > img {
      margin-left: 0.5rem;
    }
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }

  .dropdown {
    margin-top: 0.5rem;
    .arrowClosed,
    .arrowOpen {
      border: solid var(--light-gray-blue);
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 4px;
      position: absolute;
      right: 15px;
    }

    .arrowClosed {
      top: 12px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .arrowOpen {
      top: 16px;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    .control {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;
      border: solid 1px var(--light-gray-blue);
      background-color: transparent;
      font-family: WorkSans, sans-serif;
      color: var(--light-gray-blue);
      font-size: 18px;
      height: 46px;
      border-radius: 0;

      .placeholder {
        align-items: center;
      }
    }

    .menu {
      border: solid 1px var(--light-gray-blue);
      background: var(--black);
      margin-top: 6px;
      transition: all 0.5s;

      div[class*='is-selected'] {
        border-radius: 0;
        background-color: var(--light-gray-blue);
      }

      .option {
        display: flex;
        align-items: center;
        height: 48px;
        font-size: 18px;
        font-weight: 400;
        color: var(--white);
        transition: all 0.3s;

        &:hover {
          background-color: var(--light-gray-blue);
          border-radius: 0;
        }
      }
    }
  }
}

.toggle {
  display: flex;
  margin-top: 1.5rem;

  input[type='checkbox'] {
    opacity: 0;
    position: relative;
    z-index: 1;
    width: 120px;
    height: 40px;
    left: 90px;
  }

  input:checked + .slider::after {
    content: 'YES';
    background-color: var(--dodger-blue);
    transition: transform 500ms;
    transform: translateX(100%);
  }

  label {
    margin: 0;
  }

  .slider {
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 0;
    &:before {
      content: '';
      width: 120px;
      height: 100%;
      background-color: var(--light-gray);
      border: 1px solid #979797;
      display: inline-block;
      border-radius: 3px;
      vertical-align: middle;
      margin-right: 10px;
      margin-left: -30px;
      margin-top: -2px;
      left: -20px;
    }

    &:after {
      content: 'NO';
      width: 57px;
      height: 80%;
      background-color: var(--strawberry);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 14px;
      position: absolute;
      left: 3px;
      top: 3px;
      margin-left: -30px;
      transition: transform 500ms;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--pale-blue);
      font-family: WorkSans, sans-serif;
      font-weight: 600;
    }
  }
}
