.accordion__item {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--light-gray-blue);
  padding: 1rem;
  margin-bottom: 1rem;
}

.accordion__button {
  text-align: left;
  border: none;
  &:hover {
    color: white;
  }
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

.accordion__panel {
  margin-top: 1rem;
  padding: 20px;
  animation: fadein 0.35s ease-in;
  background-color: var(--light-gray-blue);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
